.video-preview:hover {
  background-color: rgb(226, 226, 226);
  transition: 0.30s;
}

.video-preview {
  padding: 10px;
  border-radius: 15px;
}

.thumbnail {
  width: 100%;
  border-radius: 15px;
}

.video-title {
  margin-top: 0px;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  margin-bottom: 5px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.channel-picture {
  vertical-align: top;
}

.video-info {
  font-size: 16px;
}

.video-link {
  text-decoration: none;
  text-decoration-color: currentcolor;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  color: black;
}

.profile-picture {
  width: 40px;
  border-radius: 50px;
}

.thumbnail-row {
  margin-bottom: 12px;
  position: relative;
}

.video-author, 
.video-stats {
  font-size: 14px;
  color: rgb(96, 96, 96);
}
.video-author {
  margin-bottom: 4px;
  display: inline-flex;
  width: fit-content;
}

.video-author:hover {
  color: black;
}

.channel-link {
  text-decoration: none;
  text-decoration-color: currentcolor;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  color: inherit;
}

.video-grid {
  margin-top: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 0px;
  row-gap: 10px;
}

@media (max-width: 960px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 961px) and (max-width: 2000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 2000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.video-time {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  position: absolute;
  bottom: 11px;
  right: 4px;
  font-family: Roboto, Arial;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
}